In [1]:
import pandas as pd

In [2]:
data_2013_14_chunks = pd.read_csv('./Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv',
                                 chunksize=10000)

In [30]:
for chunk in data_2013_14_chunks:
    chunk.to_csv("./dataset_subsets/2013-14_first_10000.csv")
    break

In [11]:
column_set_dict = {}

for column in chunk:
    column_set_dict[column] = set()
    for value in chunk[column]:
        column_set_dict[column].add(value)

In [13]:
for column in column_set_dict:
    print(column,' : ',len(column_set_dict[column]))

Summons Number  :  10000
Plate ID  :  9712
Registration State  :  39
Plate Type  :  27
Issue Date  :  62
Violation Code  :  20
Vehicle Body Type  :  125
Vehicle Make  :  130
Issuing Agency  :  3
Street Code1  :  58
Street Code2  :  47
Street Code3  :  48
Vehicle Expiration Date  :  111
Violation Location  :  9909
Violation Precinct  :  6
Issuer Precinct  :  6
Issuer Code  :  64
Issuer Command  :  19
Issuer Squad  :  10
Violation Time  :  1388
Time First Observed  :  14
Violation County  :  2
Violation In Front Of Or Opposite  :  4
House Number  :  75
Street Name  :  261
Intersecting Street  :  233
Date First Observed  :  5
Law Section  :  2
Sub Division  :  20
Violation Legal Code  :  3
Days Parking In Effect      :  6
From Hours In Effect  :  9
To Hours In Effect  :  12
Vehicle Color  :  135
Unregistered Vehicle?  :  9908
Vehicle Year  :  40
Meter Number  :  17
Feet From Curb  :  2
Violation Post Code  :  11
Violation Description  :  21
No Standing or Stopping Violation  :  10000
Hydrant Violation  :  10000
Double Parking Violation  :  10000
Latitude  :  10000
Longitude  :  10000
Community Board  :  10000
Community Council   :  10000
Census Tract  :  10000
BIN  :  10000
BBL  :  10000
NTA  :  10000

In [38]:
for chunk in data_2013_14_chunks:
    break

In [42]:
chunk.shape

(278, 51)

In [41]:
for column in chunk:
    print(len(set(chunk[column])),"\n",chunk[column].value_counts())
    print("-------------------------")

278
 8005202430    1
8006050466    1
8005250198    1
8004654745    1
8004655233    1
             ..
8006050508    1
8005202362    1
8005901136    1
8005201722    1
8005202453    1
Name: Summons Number, Length: 278, dtype: int64
-------------------------
271
 FFP6228    2
AF98338    2
FGW6619    2
86152      2
75515ME    2
          ..
86773MA    1
69443JY    1
86763MA    1
7DKJ564    1
91454JY    1
Name: Plate ID, Length: 271, dtype: int64
-------------------------
17
 NY    235
NJ     11
CT      5
PA      5
MD      4
IN      3
FL      3
MA      2
CA      2
IL      1
MI      1
KY      1
OH      1
GA      1
NC      1
IA      1
WA      1
Name: Registration State, dtype: int64
-------------------------
12
 PAS    138
COM    126
MED      3
999      2
IRP      2
OMS      1
CMB      1
OML      1
OMR      1
TRC      1
OMT      1
SRF      1
Name: Plate Type, dtype: int64
-------------------------
7
 06/24/2014    88
06/25/2014    65
06/23/2014    41
06/21/2014    28
06/20/2014    26
06/16/2014    17
06/17/2014    13
Name: Issue Date, dtype: int64
-------------------------
24
 38    59
21    40
69    34
37    27
14    17
42    16
47    12
16    10
70     9
20     9
71     8
19     6
40     6
31     5
39     4
24     3
11     2
84     2
77     2
68     2
74     2
46     1
64     1
10     1
Name: Violation Code, dtype: int64
-------------------------
11
 VAN     89
4DSD    66
SUBN    55
DELV    32
PICK    12
REFG     7
2DSD     7
TRAC     4
UTIL     3
BUS      2
TR/C     1
Name: Vehicle Body Type, dtype: int64
-------------------------
40
 FORD     54
CHEVR    42
TOYOT    22
FRUEH    15
HONDA    15
INTER    14
GMC      11
NISSA     9
BMW       8
JEEP      8
ACURA     8
MITSU     6
HINO      6
ME/BE     6
ISUZU     5
CADIL     4
INFIN     4
VOLKS     4
NS/OT     3
HYUND     3
AUDI      3
DODGE     3
PETER     3
KENWO     3
LEXUS     2
JAGUA     2
ROVER     2
KIA       1
SMART     1
PLYMO     1
VAN H     1
SATUR     1
CHRYS     1
BUICK     1
VOLVO     1
WORKH     1
UD        1
LINCO     1
FHTL      1
SUZUK     1
Name: Vehicle Make, dtype: int64
-------------------------
1
 T    278
Name: Issuing Agency, dtype: int64
-------------------------
101
 13610    13
11710    12
40930    11
10410    10
25390    10
         ..
29630     1
8390      1
17590     1
34470     1
0         1
Name: Street Code1, Length: 101, dtype: int64
-------------------------
105
 0        45
10410    35
10510    13
25390    10
10610     7
         ..
34650     1
15710     1
18790     1
7540      1
34370     1
Name: Street Code2, Length: 105, dtype: int64
-------------------------
106
 0        45
25390    21
10610    13
13610    11
10510    10
         ..
34230     1
19130     1
64695     1
35510     1
8700      1
Name: Street Code3, Length: 106, dtype: int64
-------------------------
122
 88888888    41
20140088    16
20150331    14
20150930     7
20150430     6
            ..
20150519     1
20150523     1
20150524     1
20151101     1
20160515     1
Name: Vehicle Expiration Date, Length: 122, dtype: int64
-------------------------
12
 13     54
19     32
70     28
20     27
23     26
14     21
109    20
10     19
112    17
114    14
24     11
18      9
Name: Violation Location, dtype: int64
-------------------------
12
 13     54
19     32
70     28
20     27
23     26
14     21
109    20
10     19
112    17
114    14
24     11
18      9
Name: Violation Precinct, dtype: int64
-------------------------
12
 13     54
19     32
70     28
20     27
23     26
14     21
109    20
10     19
112    17
114    14
24     11
18      9
Name: Issuer Precinct, dtype: int64
-------------------------
9
 358184    89
359286    73
359305    30
359335    20
357710    17
357334    15
358644    14
350442    13
359608     7
Name: Issuer Code, dtype: int64
-------------------------
4
 T102    103
T103     96
T401     51
T302     28
Name: Issuer Command, dtype: int64
-------------------------
7
 Q    89
E    88
D    50
A    17
R    14
K    13
C     7
Name: Issuer Squad, dtype: int64
-------------------------
213
 0931A    4
0845A    4
0950A    3
0941A    3
1108A    3
        ..
0105P    1
0132P    1
0327P    1
1248P    1
0107P    1
Name: Violation Time, Length: 213, dtype: int64
-------------------------
40
 1109A    2
0913A    2
1237P    2
1103A    2
0603P    1
0440P    1
1106A    1
0242P    1
1245P    1
1255P    1
1005A    1
0229P    1
1145A    1
1036A    1
1220P    1
1009A    1
0422P    1
0959A    1
0610P    1
1152A    1
1149A    1
0104P    1
1107A    1
0117P    1
0108P    1
0409P    1
0601P    1
0220P    1
1235P    1
0941A    1
0904A    1
0159P    1
1153A    1
0907A    1
0239P    1
1104A    1
1108A    1
1146A    1
0910A    1
Name: Time First Observed, dtype: int64
-------------------------
3
 NY    199
Q      51
K      28
Name: Violation County, dtype: int64
-------------------------
3
 F    165
O     68
I     45
Name: Violation In Front Of Or Opposite, dtype: int64
-------------------------
196
 S        13
N        12
E        11
W         8
5         5
         ..
14        1
134       1
37-19     1
655       1
135A      1
Name: House Number, Length: 195, dtype: int64
-------------------------
101
 Broadway         13
Amsterdam Ave    12
Flatbush Ave     11
Madison Ave      10
W 23rd St        10
                 ..
99th St           1
W 41st St         1
E 96th St         1
W 85th St         1
E 68th St         1
Name: Street Name, Length: 101, dtype: int64
-------------------------
40
 60ft E/of 5th Ave       3
10ft N/of E 102nd St    2
5ft E/of 5th Ave        2
10ft S/of W 80th St     2
50ft E/of 5th Ave       2
50ft E/of Yellowston    1
3ft E/of 39th Ave       1
10ft S/of E 96th St     1
15ft E/of 30th Ave      1
70ft E/of Broadway      1
15ft E/of Madison Av    1
10ft S/of W 81st St     1
10ft S/of E 92nd St     1
20ft S/of E 105th St    1
60ft N/of W 89th St     1
70ft N/of W 94th St     1
40ft N/of W 90th St     1
10ft E/of 5th Ave       1
10ft W/of Broadway      1
90ft E/of 5th Ave       1
70ft E/of 6th Ave       1
10ft S/of W 82nd St     1
10ft S/of College Po    1
50ft E/of Madison Av    1
20ft E/of 5th Ave       1
15ft E/of 71st Ave      1
70ft S/of E 102nd St    1
80ft E/of Park Ave      1
25ft W/of Broadway      1
caton-flatbush lot      1
35ft N/of W 81st St     1
10ft W/of 6th Ave       1
100ft W/of 108th St     1
200ft E/of Madison A    1
40ft N/of W 89th St     1
15ft N/of W 24th St     1
5ft S/of E 33rd St      1
10ft E/of Madison Av    1
8ft S/of W 24th St      1
Name: Intersecting Street, dtype: int64
-------------------------
5
 0           260
20140625      9
20140620      4
20140623      3
20140624      2
Name: Date First Observed, dtype: int64
-------------------------
1
 408    278
Name: Law Section, dtype: int64
-------------------------
20
 h1    136
d1     40
c      17
d      13
l2     12
k2     10
j3      9
j6      8
e2      6
c3      6
l3      5
d5      3
k7      2
j2      2
c5      2
a1      2
m5      2
b       1
f1      1
C8      1
Name: Sub Division, dtype: int64
-------------------------
278
 Series([], Name: Violation Legal Code, dtype: int64)
-------------------------
5
 Y          130
YYYYY       63
YYYYYYY     51
Y  Y        24
Name: Days Parking In Effect    , dtype: int64
-------------------------
13
 0800A    67
0900A    59
0700A    45
0830A    19
1000A     8
1130A     6
0930A     5
0730A     5
0600A     3
0400A     1
0400P     1
1100A     1
Name: From Hours In Effect, dtype: int64
-------------------------
14
 0700P    115
0600P     31
1030A     18
1000P     18
0400P     12
1000A      8
0100P      5
1100A      5
0900A      4
0900P      1
1230A      1
0200P      1
0130P      1
Name: To Hours In Effect, dtype: int64
-------------------------
22
 WHITE    78
WH       50
GY       27
BK       17
OTHER    15
BLACK    13
BROWN    11
RED      10
BLUE      9
BL        9
RD        7
GREY      6
GR        6
SILVE     5
GREEN     4
TN        3
GL        2
GOLD      2
WHG       1
YELLO     1
BR        1
YW        1
Name: Vehicle Color, dtype: int64
-------------------------
278
 Series([], Name: Unregistered Vehicle?, dtype: int64)
-------------------------
22
 0       50
2012    25
2013    24
2011    24
2007    23
2014    16
2010    15
2008    15
2006    14
2005    14
2002    13
2009     8
1999     7
2004     7
2001     5
2003     4
1997     4
1996     3
2015     3
1998     2
1993     1
1990     1
Name: Vehicle Year, dtype: int64
-------------------------
43
 304-3095    2
144-3672    1
144-3109    1
144-3757    1
304-3007    1
103-8113    1
406-9424    1
103-8129    1
423-3090    1
143-5588    1
108-7092    1
144-3537    1
144-3461    1
134-8095    1
407-2271    1
423-3109    1
127-4745    1
406-9426    1
108-7083    1
108-7084    1
145-7592    1
373-0123    1
144-3595    1
108-7069    1
144-3542    1
143-3041    1
145-7343    1
140-3049    1
145-7529    1
108-7059    1
143-3035    1
144-3108    1
144-3960    1
134-8110    1
143-3777    1
134-8082    1
144-3644    1
108-7087    1
423-3081    1
423-3115    1
408-1942    1
127-4731    1
Name: Meter Number, dtype: int64
-------------------------
4
 0    274
4      2
8      1
5      1
Name: Feet From Curb, dtype: int64
-------------------------
15
 04 6    37
C 77    33
MC 9    30
28 7    23
08 3    21
06 4    20
57-A    17
99 6    17
42 7    17
26 7    16
16 6    14
28 4    14
57 7     7
10 3     7
28 6     5
Name: Violation Post Code, dtype: int64
-------------------------
26
 38-Failure to Display Muni Rec    59
21-No Parking (street clean)      40
69-Failure to Disp Muni Recpt     34
37-Expired Muni Meter             27
14-No Standing                    17
42-Exp. Muni-Mtr (Com. Mtr. Z)    16
47-Double PKG-Midtown             12
70A-Reg. Sticker Expired (NYS)     9
71A-Insp Sticker Expired (NYS)     8
16-No Std (Com Veh) Com Plate      8
40-Fire Hydrant                    6
19-No Stand (bus stop)             6
20A-No Parking (Non-COM)           6
31-No Stand (Com. Mtr. Zone)       5
39-Overtime PKG-Time Limt Post     4
24-No Parking (exc auth veh)       3
20-No Parking (Com Plate)          3
16A-No Std (Com Veh) Non-COM       2
77-Parked Bus (exc desig area)     2
74-Missing Display Plate           2
68-Not Pkg. Comp. w Psted Sign     2
11-No Stand (exc hotel load)       2
84-Platform lifts in low posit     2
64-No STD Ex Con/DPL, D/S Dec      1
46-Double Parking (Com Plate)      1
10-No Stopping                     1
Name: Violation Description, dtype: int64
-------------------------
278
 Series([], Name: No Standing or Stopping Violation, dtype: int64)
-------------------------
278
 Series([], Name: Hydrant Violation, dtype: int64)
-------------------------
278
 Series([], Name: Double Parking Violation, dtype: int64)
-------------------------
278
 Series([], Name: Latitude, dtype: int64)
-------------------------
278
 Series([], Name: Longitude, dtype: int64)
-------------------------
278
 Series([], Name: Community Board, dtype: int64)
-------------------------
278
 Series([], Name: Community Council , dtype: int64)
-------------------------
278
 Series([], Name: Census Tract, dtype: int64)
-------------------------
278
 Series([], Name: BIN, dtype: int64)
-------------------------
278
 Series([], Name: BBL, dtype: int64)
-------------------------
278
 Series([], Name: NTA, dtype: int64)
-------------------------

In [37]:
column_set_dict['Vehicle Expiration Date']

{0,
 20100788,
 20120688,
 20130088,
 20130188,
 20130228,
 20130607,
 20130727,
 20130728,
 20130729,
 20130731,
 20130810,
 20130827,
 20130831,
 20130903,
 20130904,
 20130913,
 20130914,
 20130928,
 20130930,
 20130988,
 20131008,
 20131010,
 20131088,
 20131108,
 20131120,
 20131122,
 20131130,
 20131231,
 20131288,
 20140107,
 20140114,
 20140120,
 20140130,
 20140188,
 20140208,
 20140214,
 20140228,
 20140288,
 20140331,
 20140388,
 20140430,
 20140488,
 20140530,
 20140531,
 20140588,
 20140612,
 20140630,
 20140701,
 20140708,
 20140716,
 20140718,
 20140730,
 20140731,
 20140808,
 20140815,
 20140831,
 20140906,
 20140930,
 20141017,
 20141031,
 20141111,
 20141114,
 20141118,
 20141119,
 20141127,
 20141128,
 20141129,
 20141130,
 20141231,
 20150108,
 20150113,
 20150117,
 20150125,
 20150128,
 20150131,
 20150210,
 20150215,
 20150219,
 20150225,
 20150315,
 20150317,
 20150330,
 20150331,
 20150407,
 20150408,
 20150409,
 20150410,
 20150415,
 20150430,
 20150507,
 20150508,
 20150513,
 20150516,
 20150522,
 20150528,
 20150602,
 20150606,
 20150616,
 20150617,
 20150623,
 20150628,
 20150707,
 20150710,
 20150715,
 20150716,
 20150831,
 20161288,
 20170588,
 88880088,
 88888888}

## Getting subsequent chunk

In [31]:
chunk_no = 0
for chunk in data_2013_14_chunks:
    if chunk_no < 1:
        chunk_no +=1
    elif chunk_no == 1:
        chunk.to_csv("./dataset_subsets/2013-14_second_10000.csv")
    else:
        break

In [33]:
set(chunk['Issuing Agency'])

{'T'}