# Inspiration
###  - When are tickets most likely to be issued? Any seasonality?
###  - Where are tickets most commonly issued?
###  - What are the most common years and types of cars to be ticketed?

In [8]:
import pandas as pd
import math
import numpy as np

## Reading metadata file and forming dict with key:value -> col_name:data_type

In [9]:
cols_dict = {}
with open("./metadata_2013_2014.txt",'r') as col_read:
    col_read_lines = col_read.readlines()
    for col_name in col_read_lines:
        col_name = col_name.split(':')
        
        if 'Nu' in col_name[1] or 'Number' in col_name[1]:
            cols_dict[col_name[0]] = 'int16'
            
        elif 'Plain Text' in col_name[1] or 'Date & Time' in col_name[1]:
            cols_dict[col_name[0]] = 'str'
            
        else:
            print(col_name[1])
            print("found different data type")
            break

In [10]:
cols_dict

{'Summons Number': 'int16',
 'Plate ID': 'str',
 'Registration State': 'str',
 'Plate Type': 'str',
 'Issue Date': 'str',
 'Violation Code': 'int16',
 'Vehicle Body Type': 'str',
 'Vehicle Make': 'str',
 'Issuing Agency': 'str',
 'Street Code1': 'int16',
 'Street Code2': 'int16',
 'Street Code3': 'int16',
 'Vehicle Expiration Date': 'int16',
 'Violation Location': 'str',
 'Violation Precinct': 'int16',
 'Issuer Precinct': 'int16',
 'Issuer Code': 'int16',
 'Issuer Command': 'str',
 'Issuer Squad': 'str',
 'Violation Time': 'str',
 'Time First Observed': 'str',
 'Violation County': 'str',
 'Violation In Front Of Or Opposite': 'str',
 'House Number': 'str',
 'Street Name': 'str',
 'Intersecting Street': 'str',
 'Date First Observed': 'int16',
 'Law Section': 'int16',
 'Sub Division': 'str',
 'Violation Legal Code': 'str',
 'Days Parking In Effect    ': 'str',
 'From Hours In Effect': 'str',
 'To Hours In Effect': 'str',
 'Vehicle Color': 'str',
 'Unregistered Vehicle?': 'str',
 'Vehicle Year': 'int16',
 'Meter Number': 'str',
 'Feet From Curb': 'int16',
 'Violation Post Code': 'str',
 'Violation Description': 'str',
 'No Standing or Stopping Violation': 'str',
 'Hydrant Violation': 'str',
 'Double Parking Violation': 'str'}

## Removing unimportant columns from cols_dict either because they are irrelevant or they have 'nan' values

In [11]:
irrelevant_cols = ['Summons Number',
                   'Plate ID',
                   'Violation Description',
                   'Vehicle Expiration Date',
                   'Date First Observed',
                   'No Standing or Stopping Violation',
                   'Hydrant Violation',
                   'Double Parking Violation',
                   'Latitude',
                   'Longitude',
                   'Community Board',
                   'Community Council',
                   'Census Tract',
                   'BIN',
                   'BBL',
                   'NTA']

for col in irrelevant_cols:
    try:
        del cols_dict[col]
    except:
        continue

In [12]:
cols_list = [col for col in cols_dict]

# Reading csvs - 2013-2014, 2015,2016,2017

In [13]:
date_parser = lambda x: pd.datetime.strptime(x, "%m/%d/%Y")

In [14]:
data_2013_14_chunks = pd.read_csv('./Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv',
                                 chunksize=10000,
                                 usecols=cols_list,
                                 dtype=cols_dict,
                                 parse_dates=['Issue Date'],
                                 date_parser=date_parser)

# Visualizing the data

In [15]:
for chunk in data_2013_14_chunks:
    df = chunk
    break

<ipython-input-13-0257cb03e81d>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date_parser = lambda x: pd.datetime.strptime(x, "%m/%d/%Y")

### Size in MB with in int32

In [36]:
# df.memory_usage(index=True).sum()/(10**6)

2.400128

### Size in MB with int

In [44]:
# df.memory_usage(index=True).sum()/(10**6)

2.800128

### Size in MB with int16

In [16]:
df.memory_usage(index=True).sum()/(10**6)

2.200128

In [10]:
df.head()

,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,...,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code
0,NY,PAS,2013-08-04,46,SUBN,AUDI,P,37250,13610,21190,...,NaN,BBBBBBB,ALL,ALL,GY,0,2013,-,0,NaN
1,NY,COM,2013-08-04,46,VAN,FORD,P,37290,40404,40404,...,NaN,BBBBBBB,ALL,ALL,WH,0,2012,-,0,NaN
2,NY,COM,2013-08-05,46,P-U,CHEVR,P,37030,31190,13610,...,NaN,BBBBBBB,ALL,ALL,NaN,0,0,-,0,NaN
3,NY,COM,2013-08-05,46,VAN,FORD,P,37270,11710,12010,...,NaN,BBBBBBB,ALL,ALL,WH,0,2010,-,0,NaN
4,NY,COM,2013-08-08,41,TRLR,GMC,P,37240,12010,31190,...,NaN,BBBBBBB,ALL,ALL,BR,0,2012,-,0,NaN

# Preprocessing data

## Checking what columns have NaN values

In [8]:
# columns_non_informative = {}
# for column_name in column_names:
#     columns_non_informative[column_name] = None

# for chunk in data_2013_14_chunk:
#     for column_name in column_names:
#         for value in chunk[column_name]:
#             try: 
#                 if not(math.isnan(value)):
#                     columns_non_informative[column_name] = True
#                     break
#             except:
#                 if isinstance(value,str):
#                     columns_non_informative[column_name] = True
#                     break
#     break

/home/abishek/miniconda3/envs/anishka/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (18,38) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
# columns_non_informative

{'Summons Number': True,
 'Plate ID': True,
 'Registration State': True,
 'Plate Type': True,
 'Issue Date': True,
 'Violation Code': True,
 'Vehicle Body Type': True,
 'Vehicle Make': True,
 'Issuing Agency': True,
 'Street Code1': True,
 'Street Code2': True,
 'Street Code3': True,
 'Vehicle Expiration Date': True,
 'Violation Location': True,
 'Violation Precinct': True,
 'Issuer Precinct': True,
 'Issuer Code': True,
 'Issuer Command': True,
 'Issuer Squad': True,
 'Violation Time': True,
 'Time First Observed': True,
 'Violation County': True,
 'Violation In Front Of Or Opposite': True,
 'House Number': True,
 'Street Name': True,
 'Intersecting Street': True,
 'Date First Observed': True,
 'Law Section': True,
 'Sub Division': True,
 'Violation Legal Code': True,
 'Days Parking In Effect    ': True,
 'From Hours In Effect': True,
 'To Hours In Effect': True,
 'Vehicle Color': True,
 'Unregistered Vehicle?': True,
 'Vehicle Year': True,
 'Meter Number': True,
 'Feet From Curb': True,
 'Violation Post Code': True,
 'Violation Description': True,
 'No Standing or Stopping Violation': None,
 'Hydrant Violation': None,
 'Double Parking Violation': None,
 'Latitude': None,
 'Longitude': None,
 'Community Board': None,
 'Community Council ': None,
 'Census Tract': None,
 'BIN': None,
 'BBL': None,
 'NTA': None}

# #-----------------------------------------------------------------------------------------------------------

### List of columns to be removed ** Already done during read_csv

In [13]:
# columns_non_informative_list = [column_name for column_name,value in columns_non_informative.items() if not(value) ]
# print(len(columns_non_informative_list),columns_non_informative_list)

11 ['No Standing or Stopping Violation', 'Hydrant Violation', 'Double Parking Violation', 'Latitude', 'Longitude', 'Community Board', 'Community Council ', 'Census Tract', 'BIN', 'BBL', 'NTA']

In [14]:
# def chunk_removeColumn(chunk):
#     chunk.drop(columns_non_informative_list,axis=1)
    
#     return chunk

# #-----------------------------------------------------------------------------------------------------------

### No. of chunks

In [11]:
chunk_count = 0
for chunk in data_2013_14_chunks:
    chunk_count += 1

print(chunk_count)

<ipython-input-6-0257cb03e81d>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date_parser = lambda x: pd.datetime.strptime(x, "%m/%d/%Y")

455

# Loading 2 chunks

In [12]:
chunks_left = 2
chunk_list = []  # append each chunk data frame here 

# Each chunk is in df format
for chunk in data_2013_14_chunks:  
    if chunks_left >=0:
        # perform data filtering 
        chunk_list.append(chunk)
        chunks_left -= 1
    else:
        break
       
# concat the list into dataframe 
data_2013_14 = pd.concat(chunk_list)

<ipython-input-7-0257cb03e81d>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  date_parser = lambda x: pd.datetime.strptime(x, "%m/%d/%Y")

In [13]:
data_2013_14

,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,Street Code2,Street Code3,...,Violation Legal Code,Days Parking In Effect,From Hours In Effect,To Hours In Effect,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code
400000,NJ,PAS,2013-08-02,16,VAN,INTER,T,35190,11710,44990,...,NaN,Y,0700A,0400P,WHITE,NaN,0,NaN,0,53 -
400001,NY,COM,2013-08-02,21,VAN,FORD,T,44990,35250,35270,...,NaN,Y Y,1100A,1230A,WH,NaN,2006,NaN,0,53 -
400002,NY,COM,2013-08-02,21,VAN,CHEVR,T,35270,13610,44990,...,NaN,Y Y,1100A,1230A,WHITE,NaN,0,NaN,0,53 -
400003,NY,COM,2013-08-02,46,VAN,FORD,T,35270,44990,29690,...,NaN,NaN,NaN,NaN,BLUE,NaN,2008,NaN,0,53 -
400004,NY,COM,2013-08-02,14,VAN,CHEVR,T,35190,0,0,...,NaN,YYYYYYY,NaN,NaN,WH,NaN,1998,NaN,0,53 -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429995,NY,PAS,2013-08-11,40,SDN,NISSA,P,62200,32240,32390,...,NaN,BBBBBBB,ALL,ALL,WHITE,0,2011,-,0,NaN
429996,NY,PAS,2013-07-17,62,VAN,FORD,P,62200,32240,32390,...,NaN,BBBBBBB,ALL,ALL,B,0,2001,-,0,NaN
429997,NY,PAS,2013-07-18,71,SUBN,NaN,P,35290,32640,32740,...,NaN,BBBBBBB,ALL,ALL,GY,0,2011,-,0,NaN
429998,NY,999,2013-08-01,40,VAN,FORD,P,35290,32740,32790,...,NaN,BBBBBBB,ALL,ALL,BL,0,2011,-,10,NaN
429999,NY,999,2013-08-01,70,VAN,FORD,P,35290,32740,32790,...,NaN,BBBBBBB,ALL,ALL,BL,0,2011,-,0,NaN

In [32]:
data_2013_14.isnull().sum()

Registration State                       0
Plate Type                               0
Issue Date                               0
Violation Code                           0
Vehicle Body Type                      642
Vehicle Make                          1077
Issuing Agency                           0
Street Code1                             0
Street Code2                             0
Street Code3                             0
Violation Location                     210
Violation Precinct                       0
Issuer Precinct                          0
Issuer Code                              0
Issuer Command                           0
Issuer Squad                             0
Violation Time                           0
Time First Observed                  28931
Violation County                       886
Violation In Front Of Or Opposite     3274
House Number                          4198
Street Name                             38
Intersecting Street                  26561
Law Section                              0
Sub Division                             3
Violation Legal Code                 30000
Days Parking In Effect                  14
From Hours In Effect                    55
To Hours In Effect                      55
Vehicle Color                          564
Unregistered Vehicle?                  249
Vehicle Year                             0
Meter Number                           245
Feet From Curb                           0
Violation Post Code                  29751
dtype: int64